page {
  --tam-color-primary: #1677ff;
  --tam-color-success: #00b578;
  --tam-color-warning: #ff8f1f;
  --tam-color-danger: #ff3141;
  --tam-color-white: #ffffff;
  --tam-color-weak: #999999;
  --tam-color-light: #cccccc;
  --tam-border-color: #eeeeee;
  --tam-color-text: #333333;
	--tam-color-icon: #cccccc;
  --tam-font-size-main: 26px;
	--tam-icon-default-size: 32px;

  --tam-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
